<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body>
    <h2>Chappers bot Demo</h2>
    
    <h4>Running on Heroku, Smooch.io, github and slack</h4>
</body>
</html>
